# .circleci/config.yml
version: 2
jobs:
  build-and-test:
    macos:
      xcode: 11.3.0
    environment:
      FL_OUTPUT_DIR: output
    steps:
      - checkout
      
      - run:
          name: Build and run tests
          command: fastlane scan
          environment:
            SCAN_DEVICE: iPhone 8
            SCAN_SCHEME: MVVM-C
      - store_artifacts:
          path: output
      - store_test_results:
          path: output/scan


workflows:
  version: 2
  build-and-test:
    jobs:
      - build-and-test
